.upload-button {
  margin-top: 0.21429em;
  margin-bottom: 0.21429em;
  @extend .btn-primary;
  @include border-radius(4px);
  position: relative;
  overflow: hidden;
  
  input {
    position: absolute;
    left: 0;
    top: 0;
    @include opacity(0);
    height: 100%;
    width: 100%;
  }
  
  .fa {
    @include adjust-font-size-to(36px);
  }
}